.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-form .form-control {
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
}

.login-form .btn {
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

.login-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.login-form .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.login-form .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.login-form .btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.login-form .disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.same-size-btn {
  margin-bottom: 10px;
}


.is-invalid {
  border-color: red;
  background-color: #ffe6e6; /* Light red background */
}

.error-message {
  color: red;
  font-size: 0.875em; /* Slightly smaller font size for error messages */
  margin-top: 0.25em; /* Space between the input field and the error message */
}
