<!-- about -->
<section id="sbs-1308" class="mt-4">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
     
      <!--Image-->
      <picture class="cs-picture">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tax1.jpg"
          alt="meeting"
          width="630"
          height="630"
          aria-hidden="true"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper text-secondary">About Us</span>
      <h2 class="cs-title text-secondary">Get Help on Technology Journey</h2>
      <p class="cs-text">
        Enhance your understanding of technology and business with our in-depth
        resources. Whether you're a student or a professional, our platform is
        designed to support your learning and development.
      </p>
      <p>
        Embark on a journey of discovery and growth with our expert-led courses
        and articles. Gain the skills and knowledge to thrive in the
        fast-evolving fields of technology and business.
      </p>
      <a
        class="cs-button-solid btn btn-primary"
        aria-label="learn more about our programs"
        href=""
        >Learn More</a
      >
      <ul class="cs-ul">
        <li class="cs-item">
          <span class="cs-number">10 +</span>
          <h3 class="cs-h3">Staff on JDC Lab</h3>
        </li>
        <li class="cs-item">
          <span class="cs-number">10 +</span>
          <h3 class="cs-h3">Consulting engagements</h3>
        </li>
        <li class="cs-item">
          <span class="cs-number">1800 +</span>
          <h3 class="cs-h3">Learning community members</h3>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- teacher  -->
<section id="meet-team-547">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper text-primary">Our Expert Instructor</span>
          <h2 class="cs-title text-secondary">Welcome To Java Developer Class</h2>
          <h5 class="cs-text text-secondary">
            Welcome to our learning community, where knowledge meets experience. Our expert instructor, with over 50 years of combined experience, brings unparalleled expertise and passion to the classroom. Whether you're a beginner or looking to advance your skills, our instructor is here to guide you every step of the way. Join us and experience learning like never before!
          </h5>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <picture class="cs-picture">
                  <!--Mobile Image-->
                  <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet1.jpg">
                  <!--Tablet and up Image-->
                  <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet1.jpg">
                  <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet1.jpg" alt="employee" width="522" height="370" aria-hidden="true">
              </picture>
              <div class="cs-flex-group">
                  <span class="cs-name">Esther Atom</span>
                  <span class="cs-desc">Instructor ( Mysql , Java SE )</span>
                  <a href="" aria-label="view more about our team" class="cs-link">View</a>
              </div>
          </li>
          <li class="cs-item">
              <picture class="cs-picture">
                  <!--Mobile Image-->
                  <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet2.jpg">
                  <!--Tablet and up Image-->
                  <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet2.jpg">
                  <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet2.jpg" alt="employee" width="522" height="370" aria-hidden="true">
              </picture>
              <div class="cs-flex-group">
                  <span class="cs-name">Jame Nathen</span>
                  <span class="cs-desc">Instructor ( Java , Database )</span>
                  <a href="" aria-label="view more about our team" class="cs-link">View</a>
              </div>
          </li>
          <li class="cs-item">
              <picture class="cs-picture">
                  <!--Mobile Image-->
                  <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet3.jpg">
                  <!--Tablet and up Image-->
                  <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet3.jpg">
                  <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet3.jpg" alt="employee" width="522" height="370" aria-hidden="true">
              </picture>
              <div class="cs-flex-group">
                  <span class="cs-name">William Pover</span>
                  <span class="cs-desc">Instructor (Spring , Angular , React )</span>
                  <a href="" aria-label="view more about our team" class="cs-link">View</a>
              </div>
          </li>
      </ul>
  </div>
</section>
                              


